.loginDesign {

    height: 84vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../../img/63f1bffe3ac38e1b929d9bed_Atmosphere\ Tattoo\ Gallery\ Aftercare\ 1.jpg);
}

.containerLogin{
    height: 25vh;
    width: 25vw;

    background-color: black;
}

.buttonSubmit {

    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: crimson;
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {

    transition: 0.4s;
    background-color: lightcoral;
    cursor: pointer;
}