.galleryDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: start;

    background-image: url(../../img/IMG_5410.jpg);
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.avatarCharacter {
    height: 12.5em;
    width: 12.5em;

    border: solid darkred 0.25em;

    border-radius: 1em;

    margin-top: 1em;

}
