table{
    width: 50em;

    background-color: black;

    opacity: 95%;

    border: solid darkred 0.25em;
}
th{
    padding-right: 2em;

    text-decoration: underline;
}

td{
    padding-right: 2em;
    padding-bottom: 1em;
}

.delete{
    height: 1.5em;
    width: 4em;

    border-radius: 1em;
    background-color: black;
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid white 0.1em;
}

.delete:hover {

    transition: 0.75s;
    background-color: darkred;
    cursor: pointer;
    box-shadow: 0em 0em 1em darkred;

}
.delete:not(:hover){
    transition: 0.75s;
}