.appointmentsDesign {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../img/naked-beauty-elegance-and-sensuality-in-tattoo-generated-by-ai-free-photo.jpg);

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}

.new-appointment-div{
    height: 20em;
    width: 20em;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    border: solid 0.25em red;
    border-radius: 1em;

}