.navbarDesign {

    height: 10vh;
    width: 100vw;

    position: relative;

    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;

    border-bottom: solid darkred 0.25em;
}

.navbarPages {

    height: 10vh;
    width: 100vw;

    position: relative;

    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    font-weight: bold;

    border-bottom: solid darkred 0.25em;
}

.navbarProfile {

    height: 10vh;
    width: 100vw;

    margin-right: 1em;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}