.navbarDesign {

    height: 10vh;
    width: 100vw;

    position: relative;

    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    color: red;
    font-weight: bold;
}