.headerDesign {

    height: 100%;
    width: 100vw;

    background-image: url(../../img/model.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;
}