.headerDesign {

    height: 100%;
    width: 100vw;

    background-image: url("../../img/pexels-brett-sayles-2121348.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;
}