.headerDesign {

    height: 90vh;
    width: 100vw;

    background-image: url(../../img/model.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.leftDesing{
    height: 100vh;
    width: 50vw; 
}

.rightDesing{
    height: 100vh;
    width: 50vw; 

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; */
}

.logoDesign{
    /* background-image: url(../../img/teel_and_ink-removebg-preview.png); */

    height: 20em;
    width: 20em;

    /* background-repeat: no-repeat; */
}